.container{
  width: 100%;
}
.row{
  background-color: white;
}
.icon-size{
  font-size: 28px;
  margin: 12px 0px;
}
.p-tb-1{
  padding: 12px 0px;
}
.btn-filter {
  background-color: white;
  border: none;
  margin: 6px;
}
