.resizeImg {
  width: 120px;
  height: 100px;
}
hr {
  color: #969292;
}
.fs-17 {
  font-size: 17px;
}
.btn-buy-now {
  border: 1px solid #f15f7e;
  color: #FFF;
  background-color: #f15f7e;
  font-size: 15px;
}
.btn-add-cart {
  border: 1px solid #FD95AB;
  color: #f15f7e;
  background-color: #fdf3f5;
  font-size: 15px;
}
