<div class="container container-child">
  <div class="col-md-5">
    <h1 class="header-title">Quản lý loại da</h1>
  </div>
  <div class="row">
      <div class="col-md-3">
        <div class="actions  0">
          <button class="btn-add" data-toggle="tooltip" data-placement="top" title="Thêm mới" (click)="openForm('0', 'add')">
            <i class="fa fa-plus"></i>&nbsp;
            <span>Thêm mới</span>
          </button>
        </div>
      </div>
  </div>
  <div class="row">
    <p-table
    [value]="skinType$"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 30, 1]"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">STT</th>
            <th style="width:25%">Tên</th>
            <th style="width:50%">Mô tả</th>
            <th style="width:20%">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-skinType let-row let-i="rowIndex">
        <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ skinType.name }}</td>
            <td>{{ skinType.description }}</td>
            <td>
              <i class="fa-regular fa-pen-to-square mr-2" style="color: purple;" (click)="openForm(skinType.id, 'edit')"></i>
              <i class="fa-solid fa-trash" style="color: #c63131;" (click)="openDelete(skinType)"></i>
            </td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>
