<div class="container">
  <div class="row mb-2"></div>
  <div class="row mb-3">
    <form action="#" [formGroup]="changePassFrm">
      <div class="row">
        <div class="col-lg-12" style="border-right: solid 1px #eee;">
          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <div class="col-lg-3">
                  <label class="mb-0">Mật khẩu hiện tại</label>
                </div>
                <div class="col-lg-9">
                  <div class=" input-icon right">
                    <i class="{{ oldPasswordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' }}" (click)="oldPasswordVisibility()"></i>
                    <input type="{{ oldPasswordVisible ? 'text' : 'password' }}" formControlName="oldPassword" class="form-control input-text"
                    placeholder="Nhập mật khẩu hiện tại ">
                    <small *ngIf="hasErrorInput('oldPassword', 'required')" class="p-error">
                      <p>Mật khẩu không để trống</p>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <div class="col-lg-3">
                  <label class="mb-0">Mật khẩu mới</label>
                </div>
                <div class="col-lg-9">
                  <div class=" input-icon right">
                    <i class="{{ newPasswordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' }}" (click)="newPasswordVisibility()"></i>
                    <input type="{{ newPasswordVisible ? 'text' : 'password' }}" formControlName="newPassword" class="form-control input-text"
                    placeholder="Nhập mật khẩu mới">
                    <small *ngIf="hasErrorInput('newPassword', 'required')" class="p-error">
                      <p>Mật khẩu không để trống</p>
                    </small>
                    <small *ngIf="hasErrorInput('newPassword', 'pattern')" class="p-error">
                      <p>Tối thiểu 8 ký tự, bao gồm chữ hoa, chữ thường, số, kí tự đặc biệt</p>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-8">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <div class="col-lg-3">
                  <label class="mb-0">Nhập lại mật khẩu</label>
                </div>
                <div class="col-lg-9">
                  <div class=" input-icon right">
                    <i class="{{ cfmPasswordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' }}" (click)="cfmPasswordVisibility()"></i>
                    <input type="{{ cfmPasswordVisible ? 'text' : 'password' }}" formControlName="confirmPassword" class="form-control input-text"
                    placeholder="Nhập lại mật khẩu mới"/>
                    <small *ngIf="hasErrorInput('confirmPassword', 'required')" class="p-error obligate">
                      <p>Mật khẩu không để trống</p>
                    </small>
                    <small *ngIf="hasErrorInput('confirmPassword', 'mustMatch')" class="p-error obligate">
                      <p>Mật khẩu không khớp</p>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="actions  0 float-end">
                <button class="btn-back" data-toggle="tooltip" data-placement="top" title="Quay lại" (click)="back()">
                  <i class="fa-solid fa-arrow-left"></i>&nbsp;
                  <span>Quay lại</span>
                </button>
                <button class="btn-add ml-1" data-toggle="tooltip" data-placement="top" title="Lưu" (click)="onSubmit()">
                  <i class="fa-solid fa-check"></i>&nbsp;
                  <span>Lưu</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


