.resizeImg {
  width: 70px !important;
  height: 70px;
}
.fw-500 {
  font-weight: 500;
}
.fs-17 {
  font-size: 17px;
}
.sttstyle {
  vertical-align: middle;
  text-align: center;
}
.imgstyle {
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}
.txtstyle {
  padding-top: 10px;
  border: 1px solid #DADADA;
  border-left: none;
  box-shadow: 3px 3px 1px 0px lightgrey;
}
