<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row py-4">
          <div class="col-md-6 mb-3" style="border-bottom: 2px solid white; font-size: 17px;">
            <span>Về GG cosmetic</span>
          </div>
          <span class="mb-2 fs-12">
            GG cosmetic luôn tôn trọng khách hàng, lấy niềm vui, sự hài lòng của khách hàng để làm động lực, không ngừng tìm kiếm các sản phẩm tốt nhất để mỗi khách hàng đều có thể trở nên tự tin và xinh đẹp hơn. Các hãng thương hiệu mỹ phẩm ở GG cosmetic luôn là các thương hiệu uy tín, được mọi người tin dùng như từ Mỹ, Châu Âu, Nhật, Hàn.
          </span>
          <span class="mb-2 fs-12">
            Bên cạnh đó khi mua hàng ở Bonita , khách luôn được giá ưu đãi tốt nhất, dịch vụ nhanh chóng & nhiều chương trình Khuyến Mãi khác.
          </span>
          <span class="mb-1 fs-12"><i class="fa-solid fa-shop mr-2"></i>Nguyễn Trãi, Hà Đông, Hà Nội</span>
          <span class="mb-1 fs-12"><i class="fa-solid fa-phone wiggle-icon mr-2"></i>Hotline: 03.75.574.226</span>
          <span class="mb-1 fs-12"><i class="fa-solid fa-envelope mr-2"></i>Mail: quynhduong0911@gmail.com</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row py-4">
          <div class="col-md-6 mb-3" style="border-bottom: 2px solid white; font-size: 17px;">
            <span>Chính sách</span>
          </div>
          <span class="mb-1 fs-12 pointer">Chính sách đổi trả</span>
          <span class="mb-1 fs-12 pointer">Chính sách thanh toán</span>
          <span class="mb-1 fs-12 pointer">Phương thức vận chuyển</span>
          <span class="mb-3 fs-12 pointer">Hỗ trợ khách hàng</span>
          <div class="col-md-6 mb-3" style="border-bottom: 2px solid white; font-size: 17px;">
            <span>Kết nối với chúng tôi</span>
          </div>
          <span>
            <img src="//bizweb.dktcdn.net/100/382/633/themes/759150/assets/facebook.jpg?1697346571723" alt="GG Cosmetic" class="resizeImg mr-1">
            <img src="//bizweb.dktcdn.net/100/382/633/themes/759150/assets/zalos.png?1697346571723" alt="GG Cosmetic" class="resizeImg mr-1">
            <img src="//bizweb.dktcdn.net/100/382/633/themes/759150/assets/instagram.png?1697346571723" alt="GG Cosmetic" class="resizeImg">
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row py-4">
          <div class="col-md-6 mb-3" style="border-bottom: 2px solid white; font-size: 17px;">
            <span>Giờ mở cửa</span>
          </div>
          <span class="mb-3 fs-12 pointer">Từ 9:00 - 20.00 tất cả các ngày trong tuần (bao gồm cả các ngày lễ, ngày Tết)</span>
          <div class="col-md-6 mb-3" style="border-bottom: 2px solid white; font-size: 17px;">
            <span>Chấp nhận thanh toán</span>
          </div>
          <span>
            <img src="//bizweb.dktcdn.net/100/382/633/themes/759150/assets/payment.png?1697346571723" alt="Payment">
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
