<div class="container container-child">
  <div class="col-md-5">
    <h1 class="header-title">Quản lý thương hiệu sản phẩm</h1>
  </div>
  <div class="row">
      <div class="col-md-3">
        <div class="actions  0">
          <button class="btn-add" data-toggle="tooltip" data-placement="top" title="Thêm mới" (click)="openForm('0', 'add')">
            <i class="fa fa-plus"></i>&nbsp;
            <span>Thêm mới</span>
          </button>
        </div>
      </div>
      <div class="col-md-3 offset-md-3">
          <div class="input-icon right">
            <i class="fa-solid fa-caret-down"></i>
            <select class="form-control" [(ngModel)]="status" (change)="initBrand()" placeholder="Tìm kiếm theo trạng thái hoạt động">
              <option value="">Trạng thái hoạt động</option>
              <option value="ACTIVE">Hoạt động</option>
              <option value="DELETED">Đã xóa</option>
            </select>
          </div>
      </div>
      <div class="col-md-3">
        <div class="input-icon right">
          <i class="fa fa-search" (click)="initBrand()"></i>
          <input type="text" [(ngModel)]="keyword" (keyup.enter)="initBrand()"
                class="form-control form-control-solid input-sm" placeholder="Tìm kiếm theo từ khóa">
        </div>
      </div>
  </div>
  <div class="row">
    <p-table
    [value]="brand$"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 30, 1]"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">STT</th>
            <th style="width:15%">Ký hiệu</th>
            <th style="width:25%">Tên</th>
            <th style="width:15%">Quốc gia</th>
            <th style="width:20%">Slogan</th>
            <th style="width:20%">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-brand let-row let-i="rowIndex">
        <tr>
            <td [ngClass]="brand.status == 'ACTIVE' ? 'active' : 'delete'">{{ i + 1 }}</td>
            <td [ngClass]="brand.status == 'ACTIVE' ? 'active' : 'delete'">{{ brand.code }}</td>
            <td [ngClass]="brand.status == 'ACTIVE' ? 'active' : 'delete'">{{ brand.name }}</td>
            <td [ngClass]="brand.status == 'ACTIVE' ? 'active' : 'delete'">{{ brand.country }}</td>
            <td [ngClass]="brand.status == 'ACTIVE' ? 'active' : 'delete'">{{ brand.slogan }}</td>
            <td [ngClass]="brand.status == 'ACTIVE' ? 'active' : 'delete'">
              <i class="fa-regular fa-pen-to-square mr-2" style="color: purple;" (click)="openForm(brand.id, 'edit')"></i>
              <i class="fa-solid fa-trash" style="color: #c63131;" (click)="openDelete(brand)"></i>
            </td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>
