//----------------------FRAME-----------------------------
.div-lock {
  background-image: url('/assets/logo/background.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  background-size: cover;
  color: #ffffff;
  bottom: 0;
}
.frmBody {
  background: #ffffff;
  height: 575px;
  width: 100%;
  margin-top: 10%;
  padding: 50px;
}
.frmBody .title {
  color: #224957;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.login-app p {
  display: inline;
}
.login-app {
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  width: 230px;
  height: 36px;
  margin: auto;
  box-shadow: 0 3px 3px 1px #cbc9c9;
  padding-top: 4px;
  padding-left: 0;
  color: #ffffff;
}
.login-app a {
  color: #000000;
  font-weight: 500;
}
.message {
  color: red;
  text-align: center;
}
.input-icon>.form-control {
  padding-left: 33px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.input-icon {
  position: relative;
  left: 0;
}
.input-icon>i {
  position: absolute;
  margin: 16px 2px 4px 14px;
  z-index: 3;
  width: 16px;
  font-size: 16px;
  text-align: center;
  left: 0;
}
// .frmLogin input {
//   padding: 12px;
//   background-color: #2A6864;
//   color: #ffffff;
//   font-size: 15px;
// }
::placeholder {
  font-size: 16px;
  color: #00000099;
  opacity: 1;
  /* Firefox */
}
.frmLogin label {
  color: #224957;
  font-weight: 500;
}
.frmLogin button {
  padding: 12px;
  background-color: #2A6864;
  color: #ffffff;
  width:100%;
  font-weight: 500;
  box-shadow: 0 3px 3px 1px #cbc9c9;
  margin: 10px 0px;
}
.frmLogin a {
  padding: 12px;
  background-color: #2A6864;
  color: #ffffff;
  width:100%;
  font-weight: 500;
  box-shadow: 0 3px 3px 1px #cbc9c9;
  margin: 10px 0px;
}
.frmLogin button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-weight: 700;
}
.frmLogin a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-weight: 700;
}
.login-app :hover{
  font-weight: 600;
}
// .frmLogin input:hover {
//   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
//   font-weight: 600;
// }
input[type="checkbox"] {
  accent-color: #2A6864;
}



/*-----------------------------------------*/
.form-control {
  background-color: white;
}
.portLet-title {
  padding: 0;
  margin-bottom: 10px;
  min-height: 48px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.control-label{
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 0;
  text-align: right;
}
.title-lv1{
	color: #224957;
	font-size: 40px;
  padding: 30px 0px;
  line-height: 1.2;
  font-weight: 500 !important;
}
.title-lv2{
  font-weight: 700;
  font-size: 18px;
  color: #40955F;
}
.text-style-input{
  font-size: 14px;
  color: #969292;
}
hr {
  width: 100% !important;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #969292;
  margin: 1em auto !important;
  padding: 0;
}
::ng-deep .cdk-overlay-container {
  z-index: 9999;
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
  // height: 100vh;
}



//--------------------FRAME CHANGE-PASSWORD----------------
@media only screen and (max-width: 1271px) and (min-width: 1200px){
  .centered-box-max-width {
    max-width: 40% !important; /* Để làm cho khung không quá rộng trên màn hình lớn */
  }
}
@media only screen and (max-width: 1200px) and (min-width: 770px){
  .centered-box-max-width {
    max-width: 60% !important; /* Để làm cho khung không quá rộng trên màn hình lớn */
  }
}
@media only screen and (max-width: 770px) and (min-width: 545px){
  .centered-box-max-width {
    max-width: 80% !important; /* Để làm cho khung không quá rộng trên màn hình lớn */
  }
}
@media only screen and (max-width: 545px) and (min-width: 0px){
  .centered-box-max-width {
    max-width: 100% !important; /* Để làm cho khung không quá rộng trên màn hình lớn */
  }
}
@media (max-width: 1200px) {
.page-footer img {
    display: none;
  }
}
.centered-box {
  // border: 2px solid #ccc;
  padding: 40px;
  max-height: 100%;
  height: 100%;
  max-width: 40%; /* Để làm cho khung không quá rộng trên màn hình lớn */
  width: 100%; /* Để làm cho khung responsive */
  box-sizing: border-box;
  background-color: white;
  color: black;
  margin:50px 0px;
  border-radius: 20px;
}

.form-group-margin {
  margin: 0px !important;
}
