<div class="div-lock">
  <div class="container-fluid">
    <div class="row">
      <div class="page-body col-12">
        <div class="container frmLogin">
          <div class="centered-box centered-box-max-width">
            <div class="col-lg-12">
            </div>
            <div class="portlet-title">
              <div class="title-lv1 text-center">
                <span>Quên mật khẩu</span>
              </div>
            </div>

            <div class="portlet-body form" *ngIf="isSuccess == false">
              <form action="#" [formGroup] = "forgotPasswordForm" (ngSubmit)="submit()" id="kt_login_password_reset_form" class="form-horizontal">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-group-margin">
                        <label class="control-label">Nhập email của bạn để lấy lại mật khẩu.<span class="p-error"> * </span></label>
                        <input type="email" formControlName="email"  class="form-control text-style-input" placeholder="VD: admin@demo.com">
                        <small *ngIf="hasErrorInput('email', 'required')" class="p-error">
                          <p>Email không để trống</p>
                        </small>
                        <small *ngIf="hasErrorInput('email', 'email')" class="p-error">
                          <p>Email không hợp lệ</p>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="frmLogin">
                  <div class="row" style="margin-top: 50px;">
                    <div class="col-md-6 offset-md-1">
                      <button type="submit" id="kt_password_reset_submit" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                          title="Tạo mới một người dùng" [disabled]="isDisabled">
                          <span class="indicator-label">Lấy lại mật khẩu</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                      <a routerLink="/" class="btn btn-sm" style="background-color: #24C77F;">Hủy</a>
                  </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="portlet-body" *ngIf="isSuccess == true">
              <div class="row text-center">
                <i class="fa-solid fa-envelope-circle-check" style="font-size: 100px; color: #224957;"></i>
              </div>
              <br>
              <div class="row text-center">
                <label>Mã xác nhận đã được gửi đến địa chỉ email <span style="color: #DC3545;">{{forgotPasswordForm.get('email')?.value}}</span></label>
                <label>Vui lòng kiểm tra email.</label>
              </div>

              <div class="frmLogin">
                <div class="row" style="margin-top: 20px;">
                  <div class="col-md-10 offset-md-1">
                    <a routerLink="/" class="btn btn-sm">OK</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <pre>
  {{registerFrm.value| json}}
</pre> -->
